* @LloydCoder
/catalog/ @LloydCoder
/contracts/ @LloydCoder
/schemas/ @LloydCoder
/apis/ @LloydCoder
/integrations/ @LloydCoder
/conformance/ @LloydCoder
/compatibility/ @LloydCoder
/manifests/ @LloydCoder
/docs/architecture/ @LloydCoder
